<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title size="medium">
      Iniciar Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-class">
  <ion-header collapse="condense">
    <ion-toolbar color="warning">
      <ion-title size="medium">Iniciar Sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="assets/icon/user.png"/>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="posicion">
       <ion-item >
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text"  [(ngModel)]="email" (ionChange)="desabilitarBoton(this)" ></ion-input>
    </ion-item> 
    
    </div>
    <br>
    <div class="posicion">
      <ion-item >
     <ion-label position="floating">Password</ion-label>
     <ion-input type="password"  maxlength="10" [(ngModel)]="password" (ionChange)="desabilitarBoton(this)" ></ion-input>
   </ion-item> 
   
   </div>
   <br>
   <section class="button">    
    <ion-button (click)="validarEmail()" [disabled]="botonlogin" expand="block">Iniciar Sesión</ion-button>
  </section>
  <br>
<div>
    <p>ó </p>
    <section class="button">    
      <ion-button (click)="logeoGoogle()" class="google" size="small">Iniciar con google
        <ion-img class="icon" src="/assets/icon/google.png"></ion-img>
      </ion-button>
    </section>
    <br>
    <section class="button">    
      <ion-button class="face" size="small">Iniciar con facebook
        <ion-img class="icon" src="/assets/icon/face.png"></ion-img>
      </ion-button>
    </section>
  </div>

  </div>
  
</ion-content>
